* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;  
}
body {
  background-color: #537895;
}
button {
  cursor: pointer;
}
input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}
#boss {
    display: flex;
    flex-direction: column;
    height: 100vh;
    gap: 50px;
}
#header {
  height: 90px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color:  #dfa579;
  justify-content: center;
}
/* #logo {
    width: 30%;
} */
#btn {
  width: 22px;
  font-size: 17px;
  height: 20px;
  /* border-radius: 5px; */
  margin: 0px -28px;
  background-color: white;
  border: none;
  color: #ccc;
  /* cursor: pointer; */
}
input[type=text] {
    /* float: right; */
    padding: 6px;
    border: none;
    /* margin-top: 8px; */
    /* margin-right: 16px; */
  }
#inp {
  border-radius: 5px;
  font-size: 20px;
  width: 450px;
  height: 36px;
}
#container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    /* height: 600px; */
    align-content: center;
    gap: 80px;
}

.city-div {
    width: 200px;
    height: 300px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-items: space;
    justify-content: space-between;
    border-radius: 25px;
    position: relative;
    background-color: white;
    padding: -7px 0px;
    padding-bottom: 17px;
    /* padding-top: 23px; */
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}
.city-p {
  font-size: 25px;
} 
.tempStatus {
  font-size: 18px;
}

.city-div:hover {
  box-shadow: 0 25px 50px 0 rgba(0,0,0,0.2);
}
#text {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 50px;
  color: whitesmoke;
  gap: 10px;
}
#text h3 {
  font-family:'Mate SC', serif ;
}

.weather-icon {
    width: 120px;
    height: 120px;
    align-self: center;
}

.delete {
    width: 23px;
    border-radius: 100px;
    font-size: 18px;
    z-index: 1;
    position: absolute;
    right: -5px;
    top: -8px;
    border: 0.3px solid lightslategray;
}
.temp {
    position: relative;
}

.fade-in {
	animation: fadeIn 1s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}

.divHeader {
  background-color: #485563;
  height: 65px;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
}

@media screen and (min-device-width: 375px) and (max-device-width: 812px) and (orientation: portrait) { 
  #header {
    height: 90px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color:  #dfa579;
    justify-content: center;
  }
  #btn {
    width: 22px;
    font-size: 17px;
    height: 20px;
    /* border-radius: 5px; */
    margin: 0px -28px;
    background-color: white;
    border: none;
    color: #ccc;
    /* cursor: pointer; */
  }
  input[type=text] {
      padding: 6px;
      border: none;
    }
  #inp {
    border-radius: 5px;
    font-size: 20px;
    width: 280px;
    height: 36px;
  }
  #text {
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 42px;
    color: whitesmoke;
    gap: 10px;
  }
  #container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    height: 100vh;
    align-content: center;
    gap: 25px;

  }
  .city-div {
    width: 163px;
    height: 258px;
    font-size: 28px;
    display: flex;
    flex-direction: column;
    justify-items: space;
    justify-content: space-between;
    position: relative;
    background-color: white;
    padding: -7px 0px;
    padding-bottom: 17px;
    /* padding-top: 23px; */
    box-shadow: 0 15px 30px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }
  .divHeader {
    background-color: #485563;
    height: 65px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 101%;
    margin: -1px -1px;
    /* padding: 6px 0px; */
  }
  #boss {
    display: flex;
    flex-direction: column;
    height: 100vh;
    /* gap: 50px; */
    gap: 20px;
  }
  .city-p {
    font-size: 20px;
  }
  .weather-icon {
    width: 100px;
    height: 100px;
    align-self: center;
  }
  .welcome {
    font-size: 38px;
    /* margin: 46px 13px; */
    position: relative;
    top: -70px;
  }
  .temp {
    font-size: 17px;
  }
  
}





















/* *******switch button for the temp******** */

.toggleSwitch span span {
    display: none;
  }
  
  @media only screen {
    .toggleSwitch {
      display: inline-block;
      height: 18px;
      position: relative;
      overflow: visible;
      padding: 0;
      margin-left: 50px;
      cursor: pointer;
      width: 40px;
        user-select: none;
    }
    .toggleSwitch * {
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
    }
    .toggleSwitch label,
    .toggleSwitch > span {
      line-height: 20px;
      height: 20px;
      vertical-align: middle;
    }
    .toggleSwitch input:focus ~ a,
    .toggleSwitch input:focus + label {
      outline: none;
    }
    .toggleSwitch label {
      position: relative;
      z-index: 3;
      display: block;
      width: 100%;
    }
    .toggleSwitch input {
      position: absolute;
      opacity: 0;
      z-index: 5;
    }
    .toggleSwitch > span {
      position: absolute;
      left: -50px;
      width: 100%;
      margin: 0;
      padding-right: 50px;
      text-align: left;
      white-space: nowrap;
    }
    .toggleSwitch > span span {
      position: absolute;
      top: 0;
      left: 0;
      z-index: 5;
      display: block;
      width: 50%;
      margin-left: 50px;
      text-align: left;
      font-size: 0.9em;
      width: 100%;
      left: 15%;
      top: -1px;
      color: black;
      /* opacity: 0; */
    }
    .toggleSwitch a {
      position: absolute;
      right: 50%;
      z-index: 4;
      display: block;
      height: 100%;
      padding: 0;
      left: 2px;
      width: 18px;
      background-color: lightskyblue;
      border: 1px solid #CCC;
      border-radius: 100%;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    }
    .toggleSwitch > span span:first-of-type {
      color: black;
      opacity: 1;
      left: 45%;
    }
    .toggleSwitch > span:before {
      content: '';
      display: block;
      width: 100%;
      height: 100%;
      position: absolute;
      left: 50px;
      top: -2px;
      background-color: #fafafa;
      border: 1px solid #ccc;
      border-radius: 30px;
      -webkit-transition: all 0.2s ease-out;
      -moz-transition: all 0.2s ease-out;
      transition: all 0.2s ease-out;
    }
    .toggleSwitch input:checked ~ a {
      border-color: #fff;
      left: 100%;
      margin-left: -8px;
    }
    .toggleSwitch input:checked ~ span:before {
      border-color: black;
      box-shadow: inset 0 0 0 30px whitesmoke;
    }
    /* .toggleSwitch input:checked ~ span span:first-of-type {
      opacity: 0;
    } */
    .toggleSwitch input:checked ~ span span:last-of-type {
      opacity: 1;
      color: black;
    }
    /* Switch Sizes */
    .toggleSwitch.large {
      width: 60px;
      height: 27px;
    }
    .toggleSwitch.large a {
      width: 27px;
    }
    .toggleSwitch.large > span {
      height: 29px;
      line-height: 28px;
    }
    .toggleSwitch.large input:checked ~ a {
      left: 41px;
    }
    .toggleSwitch.large > span span {
      font-size: 1.1em;
    }
    .toggleSwitch.large > span span:first-of-type {
      left: 68%;
    }
    .temp {
      font-size: 10px;
    }
  }

